* {
  padding: 0;
  margin: 0;
}
html {
  height: 100%;
}
body,
section,
footer {
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
header,
.footer {
  min-width: 100%;
  min-height: 100px;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 0%,
    rgba(203, 18, 45, 1) 100%,
    rgba(3, 3, 3, 1) 100%
  );
}
.titulo {
  text-align: right;
  color: black;
  font-size: 350%;
  margin-top: 25px;
  margin-right: 10px;
}
.textoTextArea {
  margin: 10px;
  font-style: italic;
  font-weight: bold;
  font-size: 150%;
}
.textArea {
  font-size: 30px;
  box-sizing: border-box;
  border: 2px solid black;
  height: 5em;
  width: 200em;
  text-transform: uppercase;
  max-width: 90vmin;
}
.text96 {
  font-size: 15px;
  margin-top: 5%;
  max-width: 90%;
  width: 90vmax;
  text-align: center;
  white-space: pre-wrap;
  overflow: auto;
  text-overflow: ellipsis;
}
.button-tooltip-container {
  display: flex;
  min-width: 100%;
  justify-content: center;
}
.btn {
  position: absolute;
  margin-top: 50px;
  cursor: pointer;
}
.btn img {
  max-width: 30px;
  max-height: 30px;
  display: flex;
}
.custom-tooltip {
  display: none;
  padding: 5px 12px;
  margin-top: 52px;
  margin-left: 140px;
  background-color: #000000df;
  border-radius: 4px;
  color: #fff;
}
.footer {
  min-height: 50px;
  max-height: 5vmin;
  max-width: 5vmin;
  justify-content: space-around;
  font-size: 3.5vh;
  font-weight: bold;
  margin-top: 10px;
}
@media (max-width: 750px) {
  .text96 {
    font-size: 13px;
    margin-top: 13%;
    max-width: 70%;
    width: 70vmax;
  }
}
