* {
  padding: 0;
  margin: 0;
}
html{
  height: 100%;
}
body, section, footer{
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
header, .footer {
  min-width: 100%;
  min-height: 100px;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 0%,
    rgba(203, 18, 45, 1) 100%,
    rgba(3, 3, 3, 1) 100%
  );
}
.titulo{
  text-align: right;
  color: black;
  font-size: 350%;
  margin-top: 25px;
  margin-right: 10px;
}
.textoTextArea {
  margin: 10px;
  font-style: italic;
  font-weight: bold;
  font-size: 150%;
}
.textArea {
  font-size: 30px;
  box-sizing: border-box;
  border: 2px solid black;
  height: 5em;
  width: 200em;
  text-transform: uppercase;
  max-width: 90vmin;
}
.texto96 {
  font-size: 15px;
  margin-top: 5%;
  max-width: 90%;
  width: 90vmax;
  text-align: center;
}
.footer { 
  min-height: 50px;
  max-height: 5vmin;
  max-width: 5vmin;
  justify-content: space-around;
  font-size: 3.5vh;
  font-weight: bold;
}